@model ABCD_OnlineMall.Models.Store

@{
    ViewData["Title"] = "DeleteStore";
}

<h1>DeleteStore</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot.PlotId)
        </dd class>
    </dl>
    
    <form asp-action="DeleteStore">
        <input type="hidden" asp-for="StoreId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
