@model IEnumerable<ABCD_OnlineMall.Models.Seatreserve>

@{
    ViewData["Title"] = "IndexSeatReserve";
    Layout = "~/Views/Shared/_AdminIndex.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>IndexSeatReserver</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">IndexSeatReserver</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SeatreserveName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SeatreserveDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SeatreserveCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Showtime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cinema)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Seat)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SeatreserveName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SeatreserveDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SeatreserveCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Showtime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cinema.CinemaId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Seat.SeatId)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.SeatreserveId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.SeatreserveId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.SeatreserveId">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SeatreserveName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatreserveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatreserveCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Showtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cinema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatreserveName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatreserveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatreserveCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Showtime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cinema.CinemaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat.SeatId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SeatreserveId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SeatreserveId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SeatreserveId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
