@model IEnumerable<ABCD_OnlineMall.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminIndex.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All FeedBack</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List FeedBack of Client</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FeedbackSubject)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FeedbackContent)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserEmail)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FeedbackDate)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FeedbackSubject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FeedbackContent)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserEmail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FeedbackDate)
                                            </td>
                                            <td>
                                                @*<a asp-action="Edit" asp-route-id="@item.FeedbackId">
            <div type="button" class="btn btn-primary">Edit</div>
        </a> |*@

                                                <a asp-action="Details" asp-route-id="@item.FeedbackId">
                                                    <div type="button" class="btn btn-warning">Detail</div>
                                                </a>
                                                <form asp-action="Delete" asp-route-id="@item.FeedbackId">
                                                    <div class="form-group">
                                                        <input onclick="return AreYouSure()" type="submit" value="Delete" class="btn btn-danger" />
                                                    </div>
                                                </form>
                                                
                                            </td>
                                        </tr>
                                    }
</table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackSubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeedbackDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedbackSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedbackContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedbackDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FeedbackId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
